In [1]:
#importing basic libraries
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive

In [3]:
drive.mount('/content/drive/')

Mounted at /content/drive/

In [4]:
cd /content/drive/"MyDrive/"

/content/drive/MyDrive

In [27]:
dataset = pd.read_csv("/content/drive/MyDrive/LHC- ML/posts_short.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [28]:
dataset

,Unnamed: 0,id,post_type_id,accepted_answer_id,parent_id,creation_date,score,view_count,owner_user_id,tags,answer_count,comment_count,favorite_count,community_owned_date
0,0,4,1,7,-999,2008-07-31T21:42:52.667,573,37080,8,<c#><floating-point><type-conversion><double><...,13,1,41,2012-10-31T16:42:47.213
1,1,6,1,31,-999,2008-07-31T22:08:08.620,256,16306,9,<html><css><css3><internet-explorer-7>,5,0,10,NaN
2,2,9,1,1404,-999,2008-07-31T23:40:59.743,1743,480476,1,<c#><.net><datetime>,64,7,399,2011-08-16T19:40:43.080
3,3,11,1,1248,-999,2008-07-31T23:55:37.967,1348,136033,1,<c#><datetime><time><datediff><relative-time-s...,35,3,529,2009-09-04T13:15:59.820
4,4,13,1,-999,-999,2008-08-01T00:42:38.903,539,157009,9,<javascript><html><browser><timezone><timezone...,25,6,137,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676199,676199,52133457,1,-999,-999,2018-09-02T02:10:04.210,0,14,4101319,<python><import>,0,0,0,NaN
676200,676200,52133674,1,-999,-999,2018-09-02T03:08:51.103,-3,16,9815281,<java><firebase><android-studio>,0,2,0,NaN
676201,676201,52133700,1,-999,-999,2018-09-02T03:15:42.997,0,23,4044009,<c>,0,1,0,NaN
676202,676202,52133880,1,-999,-999,2018-09-02T04:04:31.570,0,15,10271692,<angularjs><node.js><ajax>,1,1,0,NaN
676203,676203,52134121,1,-999,-999,2018-09-02T05:02:16.480,0,12,10049938,<php><html>,2,1,0,NaN

In [29]:
dataset.shape

(676204, 14)

In [31]:
dataset["tags"].nunique()

308742